*.py[co]

#
.idea
.vscode/

# local configuration
devices.txt
.env*
.venv/

# temp files and logs
scan.txt
log_proximity.txt
log_audio.txt
audio_archive.txt
proximity_archive.txt
*.log
data/*

# Ansible
main.retry
